body {
    font-family: Arial, sans-serif;
    background-color: #d1ffd1;
    padding: 0;

    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.company-info {
    max-width: 600px;
}

.company-info h1 {
    margin: 0;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 30px;

    margin-top: -50px;
    margin-right: -20px;
}

main {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
    padding-left: 14%;
    width: 100%;
}

.total {
    width: 400px;
    height: 400px;
    background-color: #d3d3d3;

    display: flex;
    justify-content: center;
    align-items: center;

    
    margin-left: 50px;

    flex: 1 1 200px;
    
}

.both-scope{
    width: 700px;
    height: 100 vh;

    padding-left: 30px;

    position: relative;
}

.calculation-box12{
    width: 200px;
    height: 200px;
    background-color:#d3d3d3;

}

.scope1, .scope2 {
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;

}

.scope1 p, .scope2 p{
    text-align: center;
    margin-left: 5px;
}

.scope2{
    position: absolute;

    margin-left: 200px;
}



